*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  transition:  0.2s;
}

:root{
  --background: #fff;
  --gray-line: #DCDDE0;
  --text:#666666;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #fe3a49;
  --green: #4cd62b;
  --blue: #7ac6f8;
  --blue-dark: #4953b8;
  --blue-twitter: #2aa9e0;
}

  @media(max-width: 1080px){
    html{
      font-size: 93.75%;
    }
  }

  
  @media(max-width: 720px){
    html{
      font-size: 87.5%;
    }
  }


body{
  background: var(--background);
  color: var(--text);
}

body, input, textarea , button {
  font: 400 1rem "Inter", sans-serif;
}

button{
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
}

#code{
  background: var(--title);
  font-family: Rajdhani;
  padding: 0.5rem;
  border-left: 5px solid var(--red); 
  color: white;
}